USE [basyuni_demo]
GO
/****** Object:  Table [dbo].[Delivery_adress]    Script Date: 26/05/2026 9:51:14 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery_adress](
	[id_adress] [int] NOT NULL,
	[adress] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Delivery_adress] PRIMARY KEY CLUSTERED 
(
	[id_adress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 26/05/2026 9:51:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] NOT NULL,
	[order_number_id] [int] NOT NULL,
	[articule] [nvarchar](50) NOT NULL,
	[amount] [int] NOT NULL,
	[order_date] [date] NOT NULL,
	[delivery_date] [date] NOT NULL,
	[delivery_point] [int] NOT NULL,
	[id_client_name] [int] NULL,
	[code] [int] NOT NULL,
	[id_status] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[order_number_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders_clients]    Script Date: 26/05/2026 9:51:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders_clients](
	[id_clients] [int] NOT NULL,
	[client_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Orders_clients] PRIMARY KEY CLUSTERED 
(
	[id_clients] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders_status]    Script Date: 26/05/2026 9:51:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders_status](
	[id_status] [int] NOT NULL,
	[status_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Orders_status] PRIMARY KEY CLUSTERED 
(
	[id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_category]    Script Date: 26/05/2026 9:51:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_category](
	[id_category] [int] NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Product_category] PRIMARY KEY CLUSTERED 
(
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_delivery]    Script Date: 26/05/2026 9:51:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_delivery](
	[id_delivery] [int] NOT NULL,
	[delivery_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Product_delivery] PRIMARY KEY CLUSTERED 
(
	[id_delivery] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_name]    Script Date: 26/05/2026 9:51:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_name](
	[id_name] [int] NOT NULL,
	[product_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Product_name] PRIMARY KEY CLUSTERED 
(
	[id_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_producer]    Script Date: 26/05/2026 9:51:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_producer](
	[id_producer] [int] NOT NULL,
	[producer_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Product_producer] PRIMARY KEY CLUSTERED 
(
	[id_producer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 26/05/2026 9:51:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[product_id] [int] NOT NULL,
	[articule] [nvarchar](50) NOT NULL,
	[id_name] [int] NOT NULL,
	[measurement] [nvarchar](50) NOT NULL,
	[price] [int] NOT NULL,
	[biggest_sale] [int] NOT NULL,
	[id_producer] [int] NOT NULL,
	[id_delivery] [int] NOT NULL,
	[id_category] [int] NOT NULL,
	[active_sale] [int] NOT NULL,
	[amount_instock] [int] NOT NULL,
	[description] [nvarchar](500) NULL,
	[image] [nvarchar](50) NULL,
 CONSTRAINT [PK_Products_1] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26/05/2026 9:51:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
	[user_name] [nvarchar](100) NOT NULL,
	[login] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Users_1] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_roles]    Script Date: 26/05/2026 9:51:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_roles](
	[id_role] [int] NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users_roles] PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Delivery_adress] ([id_adress], [adress]) VALUES (1, N'344288, г. Нефтеюганск, ул. Чехова, 1')
INSERT [dbo].[Delivery_adress] ([id_adress], [adress]) VALUES (2, N'614164, г.Нефтеюганск,  ул. Степная, 30')
INSERT [dbo].[Delivery_adress] ([id_adress], [adress]) VALUES (3, N'394242, г. Нефтеюганск, ул. Коммунистическая, 43')
GO
INSERT [dbo].[Orders] ([order_id], [order_number_id], [articule], [amount], [order_date], [delivery_date], [delivery_point], [id_client_name], [code], [id_status]) VALUES (1, 1, N'А112Т4', 15, CAST(N'2022-05-06' AS Date), CAST(N'2022-05-12' AS Date), 25, NULL, 601, 2)
INSERT [dbo].[Orders] ([order_id], [order_number_id], [articule], [amount], [order_date], [delivery_date], [delivery_point], [id_client_name], [code], [id_status]) VALUES (2, 2, N'F432F4', 15, CAST(N'2022-05-06' AS Date), CAST(N'2022-05-12' AS Date), 20, NULL, 602, 2)
INSERT [dbo].[Orders] ([order_id], [order_number_id], [articule], [amount], [order_date], [delivery_date], [delivery_point], [id_client_name], [code], [id_status]) VALUES (3, 3, N'E532Q5', 10, CAST(N'2022-05-08' AS Date), CAST(N'2022-05-14' AS Date), 22, 4, 603, 1)
GO
INSERT [dbo].[Orders_clients] ([id_clients], [client_name]) VALUES (1, N'Волкова Эмилия Артёмовна')
INSERT [dbo].[Orders_clients] ([id_clients], [client_name]) VALUES (2, N'Филимонов Роберт Васильевич')
INSERT [dbo].[Orders_clients] ([id_clients], [client_name]) VALUES (3, N'Чистякова Виктория Степановна')
GO
INSERT [dbo].[Orders_status] ([id_status], [status_name]) VALUES (1, N'Завершен')
INSERT [dbo].[Orders_status] ([id_status], [status_name]) VALUES (2, N'Новый ')
GO
INSERT [dbo].[Product_category] ([id_category], [category_name]) VALUES (1, N'Для животных')
INSERT [dbo].[Product_category] ([id_category], [category_name]) VALUES (2, N'Товары для кошек')
INSERT [dbo].[Product_category] ([id_category], [category_name]) VALUES (3, N'Товары для собак')
GO
INSERT [dbo].[Product_delivery] ([id_delivery], [delivery_name]) VALUES (1, N'PetShop')
INSERT [dbo].[Product_delivery] ([id_delivery], [delivery_name]) VALUES (2, N'ZooMir')
GO
INSERT [dbo].[Product_name] ([id_name], [product_name]) VALUES (1, N'Игрушка')
INSERT [dbo].[Product_name] ([id_name], [product_name]) VALUES (2, N'Клетка')
INSERT [dbo].[Product_name] ([id_name], [product_name]) VALUES (3, N'Лакомство')
GO
INSERT [dbo].[Product_producer] ([id_producer], [producer_name]) VALUES (1, N'Cat Chow')
INSERT [dbo].[Product_producer] ([id_producer], [producer_name]) VALUES (2, N'Chappy')
INSERT [dbo].[Product_producer] ([id_producer], [producer_name]) VALUES (3, N'Dog Chow')
GO
INSERT [dbo].[Products] ([product_id], [articule], [id_name], [measurement], [price], [biggest_sale], [id_producer], [id_delivery], [id_category], [active_sale], [amount_instock], [description], [image]) VALUES (1, N'А112Т4', 3, N'шт.', 123, 30, 4, 1, 2, 3, 6, N'Лакомство для кошек Dreamies Подушечки с курицей, 140 г', N'А112Т4.png')
INSERT [dbo].[Products] ([product_id], [articule], [id_name], [measurement], [price], [biggest_sale], [id_producer], [id_delivery], [id_category], [active_sale], [amount_instock], [description], [image]) VALUES (2, N'G453T5', 8, N'шт.', 149, 15, 12, 2, 1, 2, 7, N'Щетка-варежка True Touch для вычесывания шерсти, синий', N'G453T5.jpg')
INSERT [dbo].[Products] ([product_id], [articule], [id_name], [measurement], [price], [biggest_sale], [id_producer], [id_delivery], [id_category], [active_sale], [amount_instock], [description], [image]) VALUES (3, N'F432F4', 7, N'шт.', 1200, 10, 8, 2, 2, 3, 15, N'Сухой корм для кошек Pro Plan с чувствительным пищеварением', N'F432F4.jpg')
GO
INSERT [dbo].[Users] ([user_id], [role_id], [user_name], [login], [password]) VALUES (1, 1, N'Суслов Илья Арсентьевич', N'pixil59@gmail.com', N'2L6KZG')
INSERT [dbo].[Users] ([user_id], [role_id], [user_name], [login], [password]) VALUES (2, 1, N'Яковлева Ярослава Даниэльевна
', N'"deummecillummu-4992@mail.ru
"
', N'uzWC67')
INSERT [dbo].[Users] ([user_id], [role_id], [user_name], [login], [password]) VALUES (3, 1, N'Игнатьева Алина Михайловна', N'vilagajaunne-5170@yandex.ru', N'8ntwUp')
GO
INSERT [dbo].[Users_roles] ([id_role], [role_name]) VALUES (1, N'Администратор')
INSERT [dbo].[Users_roles] ([id_role], [role_name]) VALUES (2, N'Клиент')
INSERT [dbo].[Users_roles] ([id_role], [role_name]) VALUES (3, N'Менеджер')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products]    Script Date: 26/05/2026 9:51:15 pm ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [IX_Products] UNIQUE NONCLUSTERED 
(
	[articule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Delivery_adress] FOREIGN KEY([delivery_point])
REFERENCES [dbo].[Delivery_adress] ([id_adress])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Delivery_adress]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Orders_clients] FOREIGN KEY([id_client_name])
REFERENCES [dbo].[Orders_clients] ([id_clients])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Orders_clients]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Orders_status] FOREIGN KEY([id_status])
REFERENCES [dbo].[Orders_status] ([id_status])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Orders_status]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Products] FOREIGN KEY([articule])
REFERENCES [dbo].[Products] ([articule])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Product_category] FOREIGN KEY([id_category])
REFERENCES [dbo].[Product_category] ([id_category])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Product_category]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Product_delivery] FOREIGN KEY([id_delivery])
REFERENCES [dbo].[Product_delivery] ([id_delivery])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Product_delivery]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Product_name] FOREIGN KEY([id_name])
REFERENCES [dbo].[Product_name] ([id_name])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Product_name]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Product_producer] FOREIGN KEY([id_producer])
REFERENCES [dbo].[Product_producer] ([id_producer])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Product_producer]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Users_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[Users_roles] ([id_role])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Users_roles]
GO
